{% extends 'base.html.twig' %}

{% block title %}Модерация участников{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="d-flex justify-content-center mb-2">
            <h1>Модерация участников проекта "{{ project.name }}"</h1>
        </div>

        {{ component('ParticipantModeration', {project: project}) }}

        {% if project.teamsAllowed %}
            {{ component('TeamModeration', {'project': project}) }}
        {% endif %}
    </div>
{% endblock %}