{% extends 'base.html.twig' %}

{% block title %}Модерация участников{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="d-flex justify-content-center mb-2">
            <h1>Модерация участников проекта "{{ project.name }}"</h1>
        </div>
        <div class="row row-cols-md-3">
            {# @var projectParticipant \App\Entity\ProjectParticipant #}
            {% for projectParticipant in participants %}
                {{ component('ParticipantModerationCard', {'participant': projectParticipant}) }}
            {% endfor %}
        </div>
        {% if project.teamsAllowed %}
            {{ component('TeamModeration', {'project': project}) }}
        {% endif %}
    </div>
{% endblock %}