{% extends 'base.html.twig' %}

{% block title %}Регистрация команды для участия в проекте{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Регистрация команды для участия в проекте "{{ project.name }}"</h1>
        {{ component('ProjectTeamRegistration') }}
    </div>
{% endblock %}