<turbo-stream action="replace" target="">
    <template>
        <div class="alert alert-success" role="alert">
            Вы успешно зарегистрировали команду {{ team.name }} для участия в проекте "{{ project.name }}"!
        </div>
    </template>
</turbo-stream>