{% extends 'base.html.twig' %}

{% block title %}Регистрация в качестве участника проекта{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="d-flex justify-content-center mb-2">
            <h1>Регистрация участника на проект "{{ participant.project.name }}"</h1>
        </div>
        {{ include('project/participant/success-alert.html.twig', {
            'participant': participant,
        }) }}
    </div>
{% endblock %}