{% extends 'base.html.twig' %}

{% block title %}Приглашения проекта {{ team.name }} - Купаловские проекты{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Приглашения команды "{{ team.name }}"</h1>

        <!-- Invitation Form -->
        {{ component('TeamInviteForm', {
            'team': team,
        }) }}

        <!-- List of Invites -->
        {{ component('TeamInvites', {'team': team}) }}

    </div>
{% endblock %}