{% extends 'base.html.twig' %}

{% block title %}Успешная регистрация{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            Вы успешно зарегистрировались как автор проектов.
            Дальнейшие инструкции направлены Вам в виде письма на указанную почту.
        </div>
    </div>
{% endblock %}