{% extends 'base.html.twig' %}

{% block title %}Купаловские проекты{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Купаловские проекты</h1>
            <p class="lead">Образовательные проекты и веб-квесты</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Register now</a>
        </div>
    </div>
    <div class="container">
        <div class="main-cards">
            <div class="me-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Проекты</h3>
                    </div>
                    <div class="card-body">
                        <p>Технология проектного обучения является одной из наиболее перспективных педагогических технологий, основанной на активизации деятельности обучающихся в условиях интегрированного обучения. Концепция сетевого проектирования учебных проектов соответствует требованиям современного образования и перспективам его развития, и нацелена на интеграцию различных технологий. Несмотря на то, что процесс создания сетевого проекта требует временных ресурсов и определенной подготовки, опыт показывает, что работа под руководством опытных наставников (тьюторов) в команде единомышленников может быть успешной.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-header">
                        <h3>О марафоне</h3>
                    </div>
                    <div class="card-body">
                        <p>С 2016 года Гродненский государственный университет проводит международный дистанционный образовательный марафон «Купаловские проекты» (КП), который нацелен на обучение педагогов технологии создания учебных и внеучебных сетевых проектов. Длительность марафона составляет 4-6 месяцев, в ходе которого участники могут подготовить конкретный конечный продукт, провести его апробацию и получить экспертную оценку. Созданные проекты могут быть полностью готовы к проведению в новом учебном году.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
