{% extends 'base.html.twig' %}

{% block title %}Купаловские проекты{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to the Kupala Projects Marathon!</h1>
            <p class="lead">Learn to create educational network projects and web quests with our experienced team.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Register now</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3>What you'll learn</h3>
                    </div>
                    <div class="card-body">
                        <p>Our marathon is aimed at teaching you how to create engaging educational projects and web quests using the latest technologies. You'll learn:</p>
                        <ul>
                            <li>How to use modern tools and frameworks to build your projects</li>
                            <li>Best practices for designing and developing educational content</li>
                            <li>How to create interactive and engaging web quests</li>
                            <li>And much more!</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3>About the marathon</h3>
                    </div>
                    <div class="card-body">
                        <p>The "Kupala Projects" marathon is organized by the Yanka Kupala State University of Grodno, and is based on the rich experience of our previous educational marathons from 2016-2022. Our goal is to help teachers and educators develop professional competencies in creating educational network projects and web quests, and to share our knowledge and expertise with the wider community.</p>
                    </div>
                    <div class="card-footer text-end">
                        <small>Join us and learn from the best!</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
