{% extends 'base.html.twig' %}

{% block title %}Управление фестивалями{% endblock %}

{% block body %}

    <div class="container" {{ stimulus_controller('festival_admin', {
        'createUrl': path('app_admin_festival_create'),
    }) }}>
        <h1 class="text-center">Управление фестивалями</h1>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary" {{ stimulus_action('festival_admin', 'create') }}>Создать</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Период</th>
                <th>Активен</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Summer Fest</td>
                <td>July 15-18</td>
                <td>Yes</td>
                <td>
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Autumn Fest</td>
                <td>October 10-12</td>
                <td>No</td>
                <td>
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Winter Fest</td>
                <td>December 20-24</td>
                <td>Yes</td>
                <td>
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}