<div {{ attributes }}>
    {% if this.result.pending %}
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <span class="mb-2"><span class="fw-bold">{{ invite.issuer.lastAndFirstName }}</span> приглашает Вас в команду <span
                            class="fw-bold">"{{ invite.team.name }}"</span></span>
            </div>
            <div class="btn-group mb-1" role="group" aria-label="Invite Actions">
                <button type="button" class="btn btn-success" data-action="live#action" data-live-action-param="accept">
                    Принять
                </button>
                <button type="button" class="btn btn-danger" data-action="live#action" data-live-action-param="reject">
                    Отклонить
                </button>
            </div>
        </div>
    {% elseif this.result.success %}
        Успех нахуй
    {% endif %}
</div>