<div {{ attributes }}>
    {{ form_start(form) }}
    {{ form_row(form.team) }}
    <button class="btn btn-primary" data-action="live#action" data-live-action-param="save">Регистрация</button>
    {{ form_end(form) }}
</div>