<div {{ attributes }}>
    <h2>Приглашения</h2>
    <div class="list-group">
        <!-- Example Invite Item -->
        {# @var invite \App\Entity\TeamInvite #}
        {% for invite in this.invites %}
            {{ component('TeamInviteCard', {
                invite: invite,
                key: invite.id,
            }) }}
        {% endfor %}
    </div>
</div>