{% extends 'base.html.twig' %}

{% block title %}{{ festival.name }}: проекты{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ festival.name }}: управление проектами</h1>

        <article class="mb-3">
            Cтраница управления проектами фестиваля.
        </article>

        {{ component('FestivalProjects', {
            'festival': festival,
            'page': page,
            'maxPerPage': maxPerPage,
        }) }}
    </div>
{% endblock %}
