{% extends 'base.html.twig' %}

{% block title %}Редактирование проекта "{{ project.name }}"{% endblock %}

{% block body %}
    <div>
        {{ component('ProjectForm', {project: project}) }}
    </div>
{% endblock %}