{% extends 'base.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="mb-4">My Projects</h1>
        <div class="d-flex row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <!-- Project Card -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <span class="card-text">Start Date: 2022-01-01</span>
                        <br>
                        <span class="card-text">End Date: 2022-01-31</span>
                        <br>
                        <span class="card-text">State: Pending Approval</span>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary me-2">Attach Report</button>
                            <button class="btn btn-primary">See Voting</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Project Card -->

            <!-- Project Card -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project Name 2</h5>
                        <span class="card-text">Start Date: 2022-02-01</span>
                        <br>
                        <span class="card-text">End Date: 2022-02-28</span>
                        <br>
                        <span class="card-text">State: Approved</span>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary">See Voting</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Project Card -->
        </div>
    </div>
{% endblock %}