{% extends 'base.html.twig' %}

{% block title %}Проект создан успешно{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            Проект создан успешно. Дальнейшие детали - в письме, отправленном на ваш E-Mail.
        </div>
    </div>
{% endblock %}