{% extends 'mail/default_template.html.twig' %}

{% block subject %}Новый пользователь{% endblock %}

{% block content %}
    {# @var user \App\Entity\User #}
    {# @var rawPassword #}
    {# @var loginLink #}
    <p>Уважаемый(-ая) {{ user.firstName }},</p>
    <p>Благодарим Вас за регистрацию на платформе "Купаловские проекты".</p>
    <p>Ваши данные для входа:</p>
    <ul>
        <li>E-Mail: {{ user.email }}</li>
        <li>Пароль: {{ rawPassword }}</li>
    </ul>
    <p>С уважением,</p>
    <p>Администрация Купаловских проектов</p>
{% endblock %}