{% extends 'mail/default_template.html.twig' %}

{% block subject %}Регистрация в сетевом проекте{% endblock %}

{% block content %}
    <p>Уважаемый(-ая) {{ projectParticipant.participant.firstAndMiddleName }},</p>
    <p>Благодарим Вас за регистрацию в качестве участника проекта "{{ projectParticipant.project.name }}".</p>
    <p>Ваша анкета поступила на рассмотрение автору проекта. Если она будет одобрена - Вы получите дополнительное письмо.</p>
    <p></p>
    <p>С уважением,<br>
        организационный комитет.</p>
{% endblock %}