{% extends 'mail/default_template.html.twig' %}

{% block subject %}Сброс пароля "Купаловские проекты"{% endblock %}

{% block content %}
    <h1>Здравствуйте!</h1>

    <p>Для сброса пароля пройдите по следующей ссылке: </p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

    <p>Данная ссылка истечет через {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p>С уважением, Купаловские проекты</p>
{% endblock %}
