{% extends 'base.html.twig' %}

{% block title %}Новое информационное письмо{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/build/ckeditor/config.js?t=N5UC"></script>
    <script type="text/javascript" src="/build/ckeditor/lang/ru.js?t=N5UC"></script>
    <script type="text/javascript" src="/build/ckeditor/styles.js?t=N5UC"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/build/ckeditor/skins/moono-lisa/editor.css?t=N5UC">
    <link rel="stylesheet" type="text/css" href="/build/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css?t=N5UC">
    <link rel="stylesheet" type="text/css" href="/build/ckeditor/plugins/scayt/dialogs/dialog.css?t=N5UC">
    <link rel="stylesheet" type="text/css" href="/build/ckeditor/plugins/tableselection/styles/tableselection.css?t=N5UC">
    <link rel="stylesheet" type="text/css" href="/build/ckeditor/plugins/dialog/styles/dialog.css?t=N5UC">
{% endblock %}

{% block body %}
    <div class="container">
        {{ component('FestivalMailForm', {'festival': festival}) }}
    </div>
{% endblock %}